{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-tabs": "off",
    "linebreak-style": "off",
    "indent": ["error","tab"],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}