{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules":{
    "camelcase": 2,
    "comma-dangle": 2,
    "quotes": [2,"single"],
    "indent":[2,"tab"]
  }
}