{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-tabs": "off",
    "linebreak-style": ["error", "windows"],
    "indent": ["error","tab"],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": "off",
    "no-restricted-syntax": "off"
  }
}