%cd-theme-base{
  display: flex;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  .cd-toolbar{
    padding: 5px;
    border-bottom: 1px solid transparent;
  }
  .cd-editor{
    padding: 10px;
    margin: 35px 0 10px;
    border: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    resize: none;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    &:focus{
      outline: 0;
    }
  }
  .cd-preview{
    padding: 10px;
    margin: 35px 0 10px;
    border-top: 1px solid transparent;
    word-wrap: break-word;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cd-help-dialog{
    padding: 45px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
    // .cd-help-dialog-button
    &-button{
      cursor: default;
      display: flex;
      max-width: 30px;
      height: 30px;
      align-items: center;
      position: absolute;
      top: 2.5px;
      right: 2.5px;
      z-index: 9999;
      border: 1px solid $cdThemeDarkGrayLight;
      border-radius: 15px;
      padding: 5px;
      transition: all .2s linear;
      overflow: hidden;
      &:hover{
        max-width: 200px;
        justify-content: flex-start;
        span:last-of-type{
          opacity: 1;
        }
      }
      span{
        &:first-of-type{
          flex-shrink: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 30px;
          font-weight: bold;
        }
        &:last-of-type{
          margin: 0 5px;
          opacity: 0;
          transition: opacity .2s linear .2s;
        }
        white-space: nowrap;
      }
    }
    // .cd-help-dialog__title
    &__title{
      align-self: center;
    }
    // .cd-help-dialog__command-list
    &__command-list{
      align-self: stretch;
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      border-collapse: collapse;
      .cd-help-dialog__command-item{
        flex: 1 0 (100%/3);
        padding: 13px 18px;
        text-align: center;
        border: 1px solid $cdThemeDefaultGrayLight;
        border-left-width: 0;
        border-bottom-width: 0;
        &:nth-of-type(3n-2){
          border-left-width: 1px;
        }
        &:last-of-type{
          border-bottom-width: 1px;
        }
      }
    }
  }
  .cd-resize{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    cursor: s-resize;
    border-top: 1px solid transparent;
    .cd-bars{
      width: 25px;
      height: 1px;
      position: relative;
      &:before,
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 25px;
        height: 1px;
      }
      &:before{
        top: -2px;
      }
      &:after{
        bottom: -2px;
      }
    }
  }
}