.cd-theme-default{
  @extend %cd-theme-base;
  border-color: $cdThemeDefaultGrayLight;
  .cd-toolbar{
    background-color: $cdThemeDefaultGrayLighter;
    border-bottom-color: $cdThemeDefaultGrayLight;
  }
  .cd-editor{
    color: $cdThemeDefaultGrayDark;
    background-color: $cdThemeDefaultWhite;
    border-right-color: $cdThemeDefaultGrayLight;
  }
  .cd-preview{
    color: $cdThemeDefaultGrayDark;
    background-color: $cdThemeDefaultWhite;
  }
  .cd-resize{
    background-color: $cdThemeDefaultGrayLighter;
    border-top-color: $cdThemeDefaultGrayLight;
    .cd-bars{
      background-color: $cdThemeDefaultGrayLight;
      &:before,
      &:after{
        background-color: $cdThemeDefaultGrayLight;
      }
    }
  }
}