$cdThemeDefaultWhite: white;
$cdThemeDefaultGrayLight: #d1d1d1;
$cdThemeDefaultGrayLighter: #f8f8f8;

$cdThemeDarkWhite: white;
$cdThemeDarkGrayLight: #444444;
$cdThemeDarkGray: #222222;
$cdThemeDarkGrayDark: #1D1D1D;