doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        block head-content
        link(rel='icon',href='favicon.ico',type='image/x-icon')
        link(rel='stylesheet',href='demo/normalize.css',type='text/css')
        link(rel='stylesheet',href='demo/calmdown-demo.css',type='text/css')
        link(rel='stylesheet',href='css/font-awesome.min.css',type='text/css')
        link(rel='stylesheet',href='css/calmdown.min.css',type='text/css')
    body
        .calmdown.calmdown-default-theme
        script(src='scripts/calmdown.min.js')
        script
            | new Calmdown({
            |   'width':'1024px',
            |   'height':'768px',
            |   'defaultContent':'# Calmdown! It\'s just the beginning'
            |});