doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        block head-content
        link(rel='icon',href='favicon.ico',type='image/x-icon')
        link(rel='stylesheet',href='demo/normalize.css',type='text/css')
        link(rel='stylesheet',href='demo/calmdown-demo.css',type='text/css')
        link(rel='stylesheet',href='css/calmdown.min.css',type='text/css')
    body
        .calmdown.calmdown-default-theme
        .calmdown-help
            h2 Keyboard commands
            ul
                li ctrl+b - bold
                li ctrl+i - italic
                li ctrl+u - strikethrough
                li tab - tab
                li ctrl+shift+i - imagelink
                li ctrl+l - link
                li ctrl+k - codeblock
                li ctrl+shift+k - code
                li --------
                li alt+1 - show both
                li alt+2 - show only editor
                li alt+3 - show only preview
                li alt+enter - full screen toggle
        script(src='scripts/calmdown.min.js')
        script
            | new Calmdown({
            |   'width':'1024px',
            |   'height':'768px',
            |   'defaultContent':'# Calmdown! It\'s just the beginning'
            |});