$colorGreenLighter: #CAD2C5;
$colorGreenLight: #84A98C;

.calmdown{}

.calmdown-default-theme{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid $colorGreenLight;
  .cd-editor{
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
    border: 0;
    border-right: 1px solid $colorGreenLight;
    resize: none;
    &:focus{
      outline: 0;
    }
  }
  .cd-preview{
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cd-html-input,
  .cd-markdown-input{
    display: none;
  }
}
