$colorGreenLighter: #CAD2C5;
$colorGreenLight: #84A98C;

.calmdown{}

.calmdown-default-theme{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid $colorGreenLight;
  .cd-editor{
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
    border: 0;
    border-right: 1px solid $colorGreenLight;
    resize: none;
    &:focus{
      outline: 0;
    }
  }
  .cd-preview{
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cd-html-input,
  .cd-markdown-input{
    display: none;
  }
}

// Highlight.js style : Monokai Sublime
// TODO: add more style and set to be able to switch between them
.cd-highlight-default{
  //Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
  }

  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }

  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }

  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }

  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    color: #f92672;
  }

  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }

  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }

  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #e6db74;
  }

  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e;
  }
}
